<div class="verse_4-template">
  <p class="lead">And they'll continue singing it forever just because...</p>
</div>

<%= image_tag 'verse_4_image.jpg' %><div>
</div><%= link_to 'next >>', index_path %>
