<div class="verse_3-template">
  <p class="lead">Some people started singing it not knowing what it was</p>
</div>

<%= image_tag 'verse_3_image.jpg' %><div>
</div><%= link_to 'next >>', verse_4_path %>
